<!-- <h1 id="debug_device"></h1>  -->
<div id="hero1" class="hero">
   <div id="layer_one" class="layer"></div>
  <!-- <img id="layer_one" class="layer" src="{{ $.Site.BaseURL }}images/amazing001.jpg" /> -->
  <div class="text">
    <h1 id="starter_text">LOOK AT THAT FONTS</h1>
  </div>
  <div id="layer_two" class="layer"></div>
  <div id="full-size"></div>
</div>

<div id="hero2" class="hero">
   <div id="h2_layer_one" class="layer"></div>
  <div class="text">
    <h1 id="h2_starter_text">LOOK AT THAT FONTS</h1>
  </div>
  <div id="h2_layer_two" class="layer"></div>
  <div id="h2_full-size"></div>
</div>
